.form {
	&__block {
		margin-bottom: 20px;
	}
	&__group {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: 100%;
		&-city {
			position: relative;
			&::after {
				content: "";
				background: url("../images/svg/target.svg") no-repeat;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(-50%, -50%);
			}
		}
		&-bank {
			position: relative;
			.after {
				width: 20px;
				height: 20px;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(-50%, -50%);
			}
		}
	}
	&__field {
		font-family: $main-font;
		font-size: 1rem;
		font-weight: 300;
		border: 1px solid #dedcdc;
		border-radius: 5px;
		box-sizing: border-box;
		outline: none;
		background-color: $white;
		color: $black;
		width: 100%;
		padding: 0.6575em 0.875em;
		text-transform: capitalize;
		&_noTransform {
			text-transform: unset;
		}
		&_error {
			background-color: #fffdef;
			color: #d0021b;
		}
		&-description {
			color: #777879;
			font-size: rem(13px);
			font-weight: 300;
			line-height: rem(12px);
		}
		&-error {
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			border: 1px solid rgba(222, 220, 220, 0.7);
			background-color: $white;
			color: #d0021b;
			font-size: 13px;
			font-weight: 300;
			position: absolute;
			padding: 6px 15px;
			top: 0;
			left: 0;
			transform: translate(0, -100%);
			z-index: 10;
			&::before {
				content: "";
				width: 10px;
				height: 10px;
				border-style: solid;
				border-width: 0 1px 1px 0;
				border-color: rgba(222, 220, 220, 0.7);
				left: 0px;
				bottom: 0px;
				position: absolute;
				transform: translate(100%, 54%) rotate(45deg);
				background-color: $white;
			}
		}
	}
}
