$accent: #5A1094;
$black: #2b2525;
$white: #ffffff;
$main-color: #777879;
$dark-gray: #6b6b6b;
$gray: #dedcdc;

$main-font: 'Helvetica Neue', Arial, sans-serif;

$hover-effect: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
