@import "libs";
@import "rem";
@import "font-face";
@import "variables";
@import "button";
@import "form";

// важно: значение font-style без кавычек, иначе конфликт regular и italic
@include font-face("Helvetica Neue", "../fonts/Helvetica/HelveticaNeueCyr-Roman", 400, normal, "modern");
@include font-face("Helvetica Neue", "../fonts/Helvetica/HelveticaNeueCyr-Light", 300);
@include font-face("Helvetica Neue", "../fonts/Helvetica/HelveticaNeueCyr-Medium", 500);
@include font-face("Helvetica Neue", "../fonts/Helvetica/HelveticaNeueCyr-Bold", 700);

body {
	background-color: #e6e9f0;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: $main-color;
	line-height: 1.2;
	font-family: $main-font;
}

a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.bold {
	font-weight: bold;
}

::-webkit-input-placeholder {
	color: $dark-gray;
	font-weight: 300;
	opacity: 0.8;
	text-overflow: ellipsis;
	text-indent: 0px;
	transition: text-indent 0.3s ease;
}
::-moz-placeholder {
	color: $dark-gray;
	font-weight: 300;
	opacity: 0.8;
	text-overflow: ellipsis;
	text-indent: 0px;
	transition: text-indent 0.3s ease;
} /* Firefox 19+ */
:-moz-placeholder {
	color: $dark-gray;
	font-weight: 300;
	opacity: 0.8;
	text-overflow: ellipsis;
	text-indent: 0px;
	transition: text-indent 0.3s ease;
} /* Firefox 18- */
:-ms-input-placeholder {
	color: $dark-gray;
	font-weight: 300;
	opacity: 0.8;
	text-overflow: ellipsis;
	text-indent: 0px;
	transition: text-indent 0.3s ease;
}

:focus::-webkit-input-placeholder {
	text-indent: -500px;
}
:focus::-moz-placeholder {
	text-indent: -500px;
} /* Firefox 19+ */
:focus:-moz-placeholder {
	text-indent: -500px;
} /* Firefox 18- */
:focus:-ms-input-placeholder {
	text-indent: -500px;
}

.heading {
	font-size: rem(26px);
	font-weight: 300;
	color: $accent;
	margin-bottom: 0.69em;
	text-transform: capitalize;
}

.sub-heading {
	font-size: 1rem;
	font-weight: 300;
	color: $accent;
	text-transform: capitalize;
	margin-bottom: 0.25em;
}

.row {
	display: flex;
	margin: 0 -10px;
}

.col {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding: 0 10px;
	&-column {
		flex-direction: column;
	}
	&-55 {
		flex: 0 0 55%;
		max-width: 55%;
	}
	&-40 {
		flex: 0 0 40%;
		max-width: 40%;
	}
	&-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}

.w-100 {
	width: 100%;
}

.multiselect {
	font-size: inherit;
	min-height: auto;
	background-color: $white;
	.form__field-error + & {
		background-color: #fffdef;
	}
	&--active &__tags {
		padding-left: 2em;
		&::before {
			display: block;
		}
	}
	&__tags {
		min-height: auto;
		font-family: $main-font;
		font-size: 1rem;
		font-weight: 300;
		border: 1px solid $gray;
		border-radius: 5px;
		box-sizing: border-box;
		outline: none;
		background: none;
		color: $black;
		display: block;
		width: 100%;
		padding: 0.6575em 2.5em 0.675em 0.875em;
		margin: 0;
		text-transform: capitalize;
		line-height: inherit;
		&::before {
			content: "";
			background: url(../images/svg/search.svg);
			width: 13px;
			height: 13px;
			display: none;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(100%, -50%);
		}
	}
	&__placeholder {
		color: $dark-gray;
		display: inline-block;
		margin: 0;
		padding: 0;
		font-weight: 300;
		opacity: 0.8;
		text-overflow: ellipsis;
		text-indent: 0px;
		transition: text-indent 0.3s ease;
	}
	&__select {
		width: 2.625em;
		height: 100%;
		box-sizing: border-box;
		top: 0;
		right: 0;
		padding: 0;
		margin: 0;
		line-height: inherit;
		&::before {
			content: "";
			width: 10px;
			height: 10px;
			border-color: #9b9b9b;
			border-width: 0 2px 2px 0;
			box-sizing: border-box;
			margin: -2px 0 0 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			position: absolute;
		}
	}
	&__input,
	&__single {
		position: relative;
		display: inline-block;
		min-height: auto;
		line-height: inherit;
		border: none;
		border-radius: 5px;
		background: none;
		padding: 0 0 0 0px;
		width: 100%;
		transition: none;
		box-sizing: border-box;
		margin: 0;
		vertical-align: top;
		font-size: inherit;
	}
	&__single {
		white-space: nowrap;
		overflow: hidden;
	}
	&__content-wrapper {
		border-color: $gray;
	}
	&__content {
		width: 100%;
	}
	&__option {
		white-space: normal;
		padding: 0.25em 0.875em;
		min-height: auto;
		line-height: inherit;
		&--selected {
			font-weight: inherit;
			background: #ebedf3;
			color: $black;
		}
	}
	&--above &__content-wrapper {
		border-top: 1px solid $gray;
	}
}

@media print {
	body {
		filter: grayscale(1);
	}
	.hide-on-print {
		display: none;
	}
}
